@charset "UTF-8";
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("☺"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype"), url("../fonts/Gilroy-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("☺"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype"), url("../fonts/Gilroy-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
.contacts h1, .portfolio h1, .skills h1, .about-me h1 {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  margin: 0;
}

.contacts button, .contacts p, .portfolio .portfolio__block .portfolio-block__text, .skills p, .about-me p, .main .main__row .column__text, .nav ul li a {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.nav {
  margin: 32px auto;
  max-width: 1170px;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.nav ul li {
  list-style-type: none;
}
.nav ul li a {
  text-decoration: none;
  color: #828282;
}
.nav ul li a:active, .nav ul li :hover {
  color: black;
}

.nav::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid #828282;
  margin-top: 32px;
}

.main {
  max-width: 1170px;
  margin: 0 auto;
}
.main .main__row {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  align-items: flex-end;
}
.main .main__row .column__name {
  font-family: "Gilroy-Bold";
  font-size: 47px;
}
.main .main__row .column__lang {
  font-family: "Gilroy-Bold";
  font-size: 16px;
  color: #828282;
  transform: rotate(-90deg);
}
.main .main__row .column__lang a:active {
  color: black;
}
.main .main__img img {
  width: 100%;
  margin-top: 54px;
  margin-bottom: 104px;
}

.about-me {
  background-color: #F6F6F6;
  background-size: 100%;
  padding-top: 120px;
  padding-bottom: 107px;
}
.about-me h1 {
  margin-bottom: 18px;
}
.about-me p {
  margin: 32px 0px;
}

.skills {
  padding-top: 91px;
  padding-bottom: 111px;
  max-width: 1170px;
  margin: 0 auto;
}
.skills p {
  margin: 69px 0px 0px;
}
.skills .skills-row {
  display: flex;
  justify-content: space-between;
  margin-top: 84px;
  margin-left: auto;
}
.skills .skills-row .skills-row__item .item-img {
  align-items: center;
}
.skills .skills-row .skills-row__item .item-text {
  font-family: "Gilroy-Bold";
  font-size: 14px;
  text-align: center;
  color: #828282;
  margin-top: 24px;
  margin-bottom: 40px;
}

.portfolio {
  background-color: #F6F6F6;
  padding-top: 112px;
  padding-bottom: 96px;
}
.portfolio h1 {
  margin-bottom: 47px;
}
.portfolio .portfolio__block img {
  width: 70%;
}
.portfolio .portfolio__block .portfolio-block__text {
  margin-top: 45px;
  margin-bottom: 99px;
  text-decoration: underline;
}
.portfolio .portfolio__block .last {
  margin-bottom: 0px;
}

.contacts {
  padding-top: 114px;
  padding-bottom: 123px;
}
.contacts p {
  margin: 20px 0px 30px;
}
.contacts button {
  background-color: black;
  color: #FFFFFF;
  border-radius: 25px;
  width: 180.5px;
  height: 42px;
  margin-bottom: 86px;
}
.contacts .contacts__icons {
  max-width: 28%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.contacts .footer-last-text {
  margin: 45px 0px 0px;
  font-size: 14px;
  color: #828282;
}

.burger {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.burger span, .burger span:before, .burger span:after {
  width: 100%;
  position: absolute;
  height: 10px;
  background: #333;
  display: block;
  transition: 0.3s;
  border-radius: 5px;
}
.burger span:before {
  content: "";
  top: -20px;
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.burger span {
  top: 20px;
}
.burger span:after {
  content: "";
  bottom: -20px;
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.burger span.active:before {
  content: "";
  top: 0px;
  transform: rotate(45deg);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.burger span.active:after {
  content: "";
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.burger span.active {
  background: rgba(255, 255, 255, 0);
}

.menu {
  width: 300px;
  height: auto;
  background: #333;
  color: #ccc;
  padding: 10px;
  position: fixed;
  left: -320px;
  transition: left 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.menu.animate {
  left: 0;
}