@font-face {
	font-family: 'Gilroy-Bold';
	src: url('../fonts/Gilroy-Bold.eot');
	src: local('☺'), url('../fonts/Gilroy-Bold.woff') format('woff'), url('../fonts/Gilroy-Bold.ttf') format('truetype'), url('../fonts/Gilroy-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy-Medium';
	src: url('../fonts/Gilroy-Medium.eot');
	src: local('☺'), url('../fonts/Gilroy-Medium.woff') format('woff'), url('../fonts/Gilroy-Medium.ttf') format('truetype'), url('../fonts/Gilroy-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

$font-bold: 'Gilroy-Bold';
$font-medium: 'Gilroy-Medium';
$primary-color: black;
$secondary-color: #828282;
$background-color: #F6F6F6;
$fonts-size-title: 34px;
$fonts-size-text: 18px;
$wrap:1170px;
$wrap-xs: 260px;
$wrap-s: 377px;
$wrap-m: 620px;
$wrap-l: 860px;
$wrap-xl: 910px;

%title-style {
	font-family: $font-bold;
	font-size: $fonts-size-title;
	line-height: 42px;
	text-align: center;
	margin: 0;
}
%text-style {
	font-family: $font-medium;
	font-size: $fonts-size-text;
	line-height: 22px;
	text-align: center;
}

.container {
	// max-width: 1170px;
	margin: 0 auto;
	text-align: center;
}

.nav {
	margin: 32px auto;
	max-width: $wrap;
	ul {
		display: flex;
    	justify-content: space-between;
		padding: 0;		
		li {
			list-style-type: none;			
			a {
				@extend %text-style;				
				text-decoration: none;
				color: $secondary-color;				
			}
			a:active, :hover {
				color: $primary-color;
			}
		}
	}
}

.nav::after {
	content: '';
	display: block;
	width: 100%;
	border-bottom: 1px solid #828282;
	margin-top: 32px;
}

.main {	
	max-width: $wrap;
	margin: 0 auto;
	.main__row {
		display: flex;
    	justify-content: space-between;
		margin-top: 40px;
		align-items: flex-end;
		.column__name {
			font-family: $font-bold;
			font-size: 47px;
		}
		.column__text {
			@extend %text-style;
			
		}
		.column__lang {
			font-family: $font-bold;
			font-size: 16px;
			color:$secondary-color;
			transform: rotate(-90deg);
			margin-bottom: 98px;
			a:active {
				color:$primary-color;
			}
		}
	}
	.main__img {
		.big_img{
			width: 100%;
			margin-top: 54px;
			margin-bottom: 104px;
		}
		.small_img {
			display: none;
		}		
	}
}

.about {
	background-color: $background-color;
	background-size: 100%;	
	padding-top: 120px;
	padding-bottom: 107px;
	h1 {
		@extend %title-style;
		margin-bottom: 18px;
	}
	p {
		@extend %text-style;
		margin: 32px 0px;
	}
}

.skills {
	padding-top: 91px;
	padding-bottom: 111px;
	max-width: $wrap;
	margin: 0 auto;
	h1 {
		@extend %title-style;
	}
	p {
		@extend %text-style;
		margin: 69px 0px 0px;
	}	
}
.skills-row {
	display: flex;
	justify-content: space-between;
	margin-top: 84px;
	margin-left: auto;
	
}
.skills-row__item {
	.item-img {
		align-items: center;
	}
	.item-text{
		font-family: $font-bold;
		font-size: 14px;
		text-align: center;
		color: $secondary-color;
		margin-top: 24px;
		margin-bottom: 40px;
	}
}

.portfolio {
	background-color: $background-color;
	padding-top: 112px;
	padding-bottom: 96px;
	h1 {
		@extend %title-style;
		margin-bottom: 47px;
	}
	.portfolio__block {
		img{
			width: 70%;
		}
		.portfolio-block__text p {
			@extend %text-style;
			margin-top: 45px;
			margin-bottom: 99px;
			color: black;
		}	
		// .portfolio-block__text :visited {
		// 	color: grey;
		// }
		a:-webkit-any-link {
			text-decoration: none;
		}
		.portfolio-block__text :hover {
			opacity: 0.6;
			text-decoration: underline;
		}
		.last p{
			margin-bottom: 0px;
		}
	}
}

.contacts {
	padding-top: 114px;
	padding-bottom: 123px;
	h1 {
		@extend %title-style;
	}
	p {
		@extend %text-style;
		margin: 20px 0px 30px;
	}
	button {
		background-color:$primary-color;
		color: #FFFFFF;
		@extend %text-style;
		border-radius: 25px;
		width: 180.5px;
		height: 42px;
		margin-bottom: 56px;		
	}
	.contacts__icons{
		max-width: 28%;
		margin: auto;
		display: flex;
  		justify-content: space-around;
	}
	.footer-last-text{
		margin: 0px 0px 15px;
		font-size: 14px;
		color:$secondary-color;
	}
}


// Стилизация меню бургера
.burger {
	position: absolute;
	right: 10px;
	top: 50px;
	width: 50px;
	height: 50px;
	z-index: 100;
	cursor: pointer;	
	span, span:before, span:after{
		width: 33px;
		position: absolute;
		height: 4px;
		background: $primary-color;
		display: block;
		transition: .3s;
	}
	span:before{
		content: "";
		top: -20px;
		transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	span{
		top: 20px;
	}
	span:after{
		content: "";
		bottom: -20px;
		transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	span.active:before{
		content: "";
		top: 0px;
		transform: rotate(45deg);
		transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}
	span.active:after{
		content: "";
		bottom: 0;
		transform: rotate(-45deg);
		transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}
	span.active{
		background: rgba(255, 255, 255, 0); 
	}
}
.menu{
	width: 100%;
	// height: 812px;
	background: $background-color;
	color: $secondary-color;
	padding: 10px;		
	display: none;
	transition: left 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	ul{
		li {
			list-style-type: none;
			margin-bottom: 68px !important;	
			text-align: left;
			.menu-text {
				@extend %title-style;
				text-decoration: none;
				color: $secondary-color;					
			}
			.menu-text:active, :hover {
				color: $primary-color;
			}			
		}
	}
}
.menu.animate{
	left: 0;
	display: flex;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 100%;
	max-height: 100%;
}
.menu.close{
	display: none;
}

// Медиа запрос под маленькие экраны
@media screen and (min-width: 320px) {	
    header {
		display: none;
	}
	.burger {
		display: block;
	}
	// .menu-lang{
	// 		font-family: $font-bold;
	// 		font-size: 34px;
	// 		color:$secondary-color;
	// 		transform: rotate(-90deg);
	// 		text-align: left;
	// 		margin-top: auto;
	// 		a:active {
	// 			color:$primary-color;
	// 		}
	// }
	.main {
		max-width: $wrap-xs;
		.main__row {
			display: block !important;
			flex-direction: column !important;
			.column__name {
				font-size: 47px;
				line-height: 58px;
				text-align: left !important;
			}
			.column__text{
				font-size: 18px;
				line-height: 22px;
				text-align: left !important;
				margin-top: 23px;
			}
			.column__lang {
				display: none;
			}
		}
		.main__img {
			.big_img{
				display: none;			
			}
			.small_img {
				display: flex !important;
				width: 100%;
				margin-top: 37px;
				margin-bottom: 83px;
			}
		}
	}
	.skills {
		padding-bottom: 18px;
		.skills-row {
			display: block;
			justify-content: space-between;
			.item-stars-row {
				margin-bottom: 81px;
			}
		}
	}
	.portfolio {
		padding-top: 81px;
		padding-bottom: 80px;
		h1 {
			margin-bottom: 65px;
		}
		.portfolio__block {
			.portfolio-block__text {
				margin-top: 33px;
				margin-bottom: 78px;
			}
			img {
				width: $wrap-xs;
			}
		}
	}
	.contacts {
		padding-top: 82px;
		padding-bottom: 90px;
		p {
			margin: 27px 0px 40px;
		}
		button {			
			width: $wrap-xs;
			margin-bottom: 48px;	
		}
		.contacts__icons{
			max-width: $wrap-xs;
			display: flex;
			justify-content: space-evenly;
		}
		.footer-last-text{
			font-size: 18px;
			margin-bottom: 25px;
		}
	}	
	
}

// Медиа запрос под не совсем маленькие экраны
@media screen and (min-width: 480px) {
	
    header {
		display: none;
	}	
	.main {
		max-width: $wrap-s;
		.main__row {
			display: block !important;
			flex-direction: column !important;
			.column__name {
				font-size: 47px;
				line-height: 58px;
				text-align: left !important;
			}
			.column__text{
				font-size: 18px;
				line-height: 22px;
				text-align: left !important;
				margin-top: 23px;
			}
			.column__lang {
				display: none;
			}
		}
		.main__img {
			.big_img{
				display: none;			
			}
			.small_img {
				display: flex !important;
				width: 100%;
				margin-top: 37px;
				margin-bottom: 83px;
			}
		}
	}
	.skills {
		padding-bottom: 18px;
		.skills-row {
			display: block;
			justify-content: space-between;
			.item-stars-row {
				margin-bottom: 81px;
			}
		}
	}
	.portfolio {
		padding-top: 81px;
		padding-bottom: 99px;
		h1 {
			margin-bottom: 65px;
		}
		.portfolio__block {
			.portfolio-block__text {
				margin-top: 33px;
				margin-bottom: 78px;
			}
			img {
				width: $wrap-s;
			}
		}
	}
	.contacts {
		padding-top: 82px;
		padding-bottom: 90px;
		p {
			margin: 27px 0px 40px;
		}
		button {			
			width: 0.8*$wrap-s;
			margin-bottom: 48px;	
		}
		.contacts__icons{
			max-width: $wrap-s;
			display: flex;
			justify-content: space-evenly;
		}
		.footer-last-text{
			font-size: 18px;
			margin-bottom: 25px;
		}
	}	
	
}

// Медиа запрос под средние экраны
@media screen and (min-width: 768px) {	
    header {
		display: block;
	}
	.nav {
		margin: 32px auto;
		max-width: $wrap-m;
	}
	.nav::after {
		content: '';
		display: block;
		width: 100%;
		border-bottom: 1px solid #828282;
		margin-top: 32px;
	}
	.burger {
		display: none;
	}
	.main {
		max-width: $wrap-m;
		.main__row {
			display: flex !important;
			flex-direction: row !important;
			.column {
				display: flex !important;
				flex-direction: row !important;
				justify-content: center;
				align-items: center;
			}
			.column__name {
				font-size: 47px;
				line-height: 58px;
			}
			.column__text{
				font-size: 18px;
				line-height: 22px;
				margin-left: 149px;
				margin-top: 23px;
			}
			.column__lang {
				display: block;
			}
		}
		.main__img {
			.big_img{
				display: flex !important;			
			}
			.small_img {
				display: none !important;
			}
		}
	}
	.skills {
		padding-bottom: 18px;
		.skills-row {
			display: flex !important;
			justify-content: space-evenly;
			.item-stars-row {
				margin-bottom: 81px;
			}
		}
	}
	.portfolio {
		padding-top: 81px;
		padding-bottom: 99px;
		h1 {
			margin-bottom: 65px;
		}
		.portfolio__block {
			.portfolio-block__text {
				margin-top: 33px;
				margin-bottom: 78px;
			}
			img {
				width: $wrap-m;
			}
		}
	}
	.contacts {
		padding-top: 82px;
		padding-bottom: 90px;
		p {
			margin: 27px 0px 40px;
		}
		button {			
			width: 0.6*$wrap-m;
			margin-bottom: 48px;	
		}
		.contacts__icons{
			max-width: 0.6*$wrap-m;
			display: flex;
			justify-content: space-evenly;
		}
		.footer-last-text{
			font-size: 18px;
			margin-bottom: 45px;
		}
	}	
	
}

// Медиа запрос под большие экраны
@media screen and (min-width: 992px) {	
    header {
		display: block;
	}
	.nav {
		margin: 32px auto;
		max-width: $wrap-l;
	}
	.nav::after {
		content: '';
		display: block;
		width: 100%;
		border-bottom: 1px solid #828282;
		margin-top: 32px;
	}
	.burger {
		display: none;
	}
	.main {
		max-width: $wrap-l;
		.main__row {
			display: flex !important;
			flex-direction: row !important;
			.column {
				display: flex !important;
				flex-direction: row !important;
				justify-content: center;
				align-items: center;
			}
			.column__name {
				font-size: 47px;
				line-height: 58px;
			}
			.column__text{
				font-size: 18px;
				line-height: 22px;
				margin-left: 250px;
				margin-top: 23px;
			}
			.column__lang {
				display: block;
			}
		}
		.main__img {
			.big_img{
				display: flex !important;			
			}
			.small_img {
				display: none !important;
			}
		}
	}
	.skills {
		padding-bottom: 88px;
		.skills-row {
			display: flex !important;
			justify-content: space-evenly;
		}
	}
	.portfolio {
		padding-top: 81px;
		padding-bottom: 99px;
		h1 {
			margin-bottom: 65px;
		}
		.portfolio__block {
			.portfolio-block__text {
				margin-top: 33px;
				margin-bottom: 78px;
			}
			img {
				width: $wrap-l;
			}
		}
	}
	.contacts {
		padding-top: 82px;
		padding-bottom: 90px;
		p {
			margin: 27px 0px 40px;
		}
		button {			
			width: 0.5*$wrap-l;
			margin-bottom: 68px;	
		}
		.contacts__icons{
			max-width: 0.5*$wrap-l;
			display: flex;
			justify-content: space-between;
		}
		.footer-last-text{
			font-size: 18px;
			margin-bottom: 45px;
		}
	}	
	
}

// Медиа запрос под очень большие экраны
@media screen and (min-width: 1200px) {	
    header {
		display: block;
	}
	.burger {
		display: none;
	}
	.nav {
		margin: 32px auto;
		max-width: $wrap-xl;
	}
	.nav::after {
		content: '';
		display: block;
		width: 100%;
		border-bottom: 1px solid #828282;
		margin-top: 32px;
	}	
	.main {
		max-width: $wrap-xl;
		.main__row {
			display: flex !important;
			flex-direction: row !important;
			.column {
				display: flex !important;
				flex-direction: row !important;
				justify-content: center;
				align-items: center;
			}
			.column__name {
				font-size: 47px;
				line-height: 58px;
				// text-align: left !important;
			}
			.column__text{
				font-size: 18px;
				line-height: 22px;
				// text-align: left !important;
				margin-left: 300px;
				margin-top: 23px;
			}
			.column__lang {
				display: block;
			}
		}
		.main__img {
			.big_img{
				display: flex !important;			
			}
			.small_img {
				display: none !important;
			}
		}
	}
	.skills {
		padding-bottom: 88px;
		.skills-row {
			display: flex;
			justify-content: space-evenly;
		}
	}
	.portfolio {
		padding-top: 81px;
		padding-bottom: 99px;
		h1 {
			margin-bottom: 65px;
		}
		.portfolio__block {
			.portfolio-block__text {
				margin-top: 33px;
				margin-bottom: 78px;
			}
			img {
				width: $wrap-xl;
			}
		}
	}
	.contacts {
		padding-top: 82px;
		padding-bottom: 90px;
		p {
			margin: 27px 0px 40px;
		}
		button {			
			width: 0.5*$wrap-xl;
			margin-bottom: 68px;	
		}
		.contacts__icons{
			max-width: 0.5*$wrap-xl;
			display: flex;
			justify-content: space-between;
		}
		.footer-last-text{
			font-size: 18px;
			margin-bottom: 45px;
		}
	}	
	
}